.allProducts {
  border: solid 4px black;
  margin: 10px;
  background-color: rgb(89, 136, 155);
  transition: background 0.5s ease-in-out;
}
.allProducts:hover {
  background-color: skyblue;
}

.allProducts-Box {
  display: flex;
  flex-direction: column;
  border: solid 10px black;
  border-radius: 10px;
  margin-top: 25px;
  background-image: linear-gradient(to right, orange, red);
}

.allproducts-container {
  margin: 25px;
}

.product-image {
  width: 25%;
  justify-content: center;
  align-items: center;
  padding-top: -5%;
  padding-bottom: 5%;
}

.product-name {
  padding: 5%;
}
.description {
  padding-top: -5%;
  margin-bottom: 5%;
  width: 50%;
}
.product-price {
  justify-content: flex-start;
  align-items: flex-start;
  padding-right: 85%;
}

.single-container {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: auto;
  width: 100%;
  height: 100%;
}
.productlist-container {
  justify-content: flex-start;
  align-items: center;
}

.ProductImages {
  width: 200px;
  height: 200px;
}

.ProductDesc-Box {
  width: 200px;
}

.ProductT {
  font-size: 15px;
  text-decoration: none;
  color: black;
}
.productDetail-container {
  display: flex;
  flex-direction: column;
  border: solid 10px black;
  border-radius: 10px;
  margin-top: 25px;
  padding: 20px;
  background-color: skyblue;
}

.productDetails {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.AddtoCart {
  background-color: white;
  transition: background 0.5s ease-in-out;
}

.AddtoCart:hover {
  background-color: rgb(253, 76, 76);
}

.goBack {
  color: black;
}

.goBack:hover {
  color: red;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}
