.App {
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.navbar-container {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.nav-main {
  color: black;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: larger;
  transition: all 0.4s;
	-webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
}

.nav-main:focus {
	outline: none !important;
}

.nav-main:hover {
	text-decoration: none;
  color: #57b846;
}
li {
  list-style-type:decimal-leading-zero;
  list-style-position: outside;
  padding: 6px;
  margin: 4px;
  size: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
